    /*
    Flaticon icon font: Flaticon
    Creation date: 24/03/2017 14:12
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-home-lock:before { content: "\f100"; }
.flaticon-security-camera:before { content: "\f101"; }
.flaticon-house:before { content: "\f102"; }
.flaticon-repair-tools-cross:before { content: "\f103"; }
.flaticon-drilling:before { content: "\f104"; }
.flaticon-wrench-and-screwdriver-in-cross:before { content: "\f105"; }
.flaticon-paint:before { content: "\f106"; }
.flaticon-building-tower:before { content: "\f107"; }
.flaticon-brick-wall:before { content: "\f108"; }
.flaticon-paper:before { content: "\f109"; }
.flaticon-home-1:before { content: "\f10a"; }
.flaticon-home:before { content: "\f10b"; }
.flaticon-interface:before { content: "\f10c"; }
.flaticon-agreement:before { content: "\f10d"; }
.flaticon-hammer-and-nail-on-wood-outline:before { content: "\f10e"; }
.flaticon-handshake:before { content: "\f10f"; }
    
    $font-Flaticon-home-lock: "\f100";
    $font-Flaticon-security-camera: "\f101";
    $font-Flaticon-house: "\f102";
    $font-Flaticon-repair-tools-cross: "\f103";
    $font-Flaticon-drilling: "\f104";
    $font-Flaticon-wrench-and-screwdriver-in-cross: "\f105";
    $font-Flaticon-paint: "\f106";
    $font-Flaticon-building-tower: "\f107";
    $font-Flaticon-brick-wall: "\f108";
    $font-Flaticon-paper: "\f109";
    $font-Flaticon-home-1: "\f10a";
    $font-Flaticon-home: "\f10b";
    $font-Flaticon-interface: "\f10c";
    $font-Flaticon-agreement: "\f10d";
    $font-Flaticon-hammer-and-nail-on-wood-outline: "\f10e";
    $font-Flaticon-handshake: "\f10f";